@media (max-width: 1024px) {
  body {
    font-size: 20px;
  }

  .sidebar {
    z-index: 1;
  }

  header.heading {
    display: flex;
    text-align: center;
    background: #e4e4e4;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .navbar {
    display: none;
  }
  
  .heading h3 {
    padding-bottom: 0;
    margin: auto;
  }

  .panel {
    flex-direction: column;
    height: 600px;
    justify-content: space-around;
    align-items: center;
  }

  .slct .inst h3 {
    font-size: 1em;
  }

  .slct .radio-slct {
    height: 200px;
    margin: 0 auto;
  }
  .slct .radio-slct label {
    font-size: 0.65rem;
    min-width: 67vw;
  }


  #org-slct, #work-slct {
    width: 80vw;
  }

  #org-slct .inst, #work-slct .inst {
    width: 80vw;
  }

  #table-form table {
    font-size: 0.45rem;
  }

  #table-form table th {
    min-width: 10vw;
    font-weight: 500;
    font-size: .45rem;
  }

  #table-form table tr th:nth-child(4) > i {
    display: block;
  }

  #table-form table tr th:nth-child(4) > div {
    display: block;
  }

  #table-form table th:nth-child(5) {
    max-width: 12vw;
  }

  #table-form .toggle-btn {
    font-size: .45rem;
  }

  #table-form th input[type="number"] {
    font-size: .45rem;
  }
  #table-form input {
    font-size: .45rem;
  }
}
