/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */
:root {
  --primary-color: #ffc1ce;
  --secondary-color: #bbf6fe;
  --light-primary-color: #FFD7DF;
  --hamburger-color: #333;
}
::-webkit-scrollbar {
  display: none;
}

html , body{
  font-family: 'Mali', cursive;
  line-height: 1.7em;
  font-size: 30px;
  background:var(--secondary-color);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a{
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 1.5rem;
}

p {
  padding: 1rem;
}

/* Utilities */

.container{
  margin: auto;
  padding: 0 1.5rem;
  overflow: auto;
}

.pd-1 {padding: 0.3rem 0;}
.pd-2 {padding: 0.5rem 0;}
.pd-3 {padding: 0.7rem 0;}

.cap-1100{min-width: 1100px;}

.btn:hover{
  background: var(--primary-color);
}

.bg-brown {
  background: rgb(224, 202, 194)!important;
}

.bg-white {
  background: white!important;
}

.bg-pink {
  background: var(--light-primary-color)!important;
}

.v-large-btn {
  font-size: 30px;
  padding: 20px 30px;
}

.line {
  width: 80%;
  border: 2px white solid;
  border-radius: 5px;
  margin: 30px auto;
  margin-bottom: 10px;
}

.btn {
  padding: 10px;
  background: var(--light-primary-color);
  border: 1px #333 solid;
  border-radius: 5px;
  cursor: pointer;
}

.error-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fading 2s ease-out forwards 1s;
}

.error-box {
  padding: 1.5rem 2rem;
  background: var(--light-primary-color);
  color: red;
  border-radius: 10px;
  border: 2px red solid;
}

@keyframes fading {
  0%{
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


/* Sidebar Utilities */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar .toggler {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.sidebar .hamburger {
  width: 50px;
  height: 50px;
  padding: 7.5px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.sidebar .hamburger > div {
  height: 4px;
  width: 100%;
  top: -10px;
  position: relative;
  background: var(--hamburger-color);
  border-radius: 4px;
  transition: background-color 0s 0.13s linear;
}

.sidebar .hamburger > div:before,
.sidebar .hamburger > div:after {
  content: '';
  border-radius: 4px;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--hamburger-color);
}

.sidebar .hamburger > div:before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.sidebar .hamburger > div:after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* Sidebar Toggle Animation */
.sidebar .toggler:checked + .hamburger > div {
  background-color: transparent !important;
}
.sidebar .toggler:checked + .hamburger > div:before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
  background: var(--light-primary-color);
}
.sidebar .toggler:checked + .hamburger > div:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
  background: var(--light-primary-color);
}
.sidebar .toggler:checked ~ .menu {
  transform: translate(0,0);
}

/* Sidebar Styling */
.sidebar .menu {
  background: rgba(48,48,48,0.92);
  width: 200px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  transition: all 0.5s ease;
  padding-top: 50px;
  color: #fff;
  transform: translate(-200px,0);
}

.sidebar .menu ul.menu-list {
  padding: 10px;
  list-style: none;
}

.sidebar .menu ul.menu-list li {
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .menu .menu-list li a {
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  list-style: none;
  border-radius: 5px;
  transition: box-shadow 0.3s ease ;
}

.sidebar .menu .menu-list li.current a {
  background: var(--light-primary-color);
  color: #333;
}

.sidebar .menu ul.menu-list li a:hover {
  /* background: var(--light-primary-color); */
  /* border: 2px var(--light-primary-color) solid; */
  box-shadow: inset 0px 0px 0px 2px var(--light-primary-color);
  /* color: #333; */
}

.sidebar .menu ul.menu-list li a[href="/logout"] {
  color: red;
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar .menu ul.menu-list li a[href="/logout"]:hover {
  background: red;
  color: #fff;
  box-shadow: none;
}

/* Section: Login (Page: Login)*/

#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login-form .form-group {
  text-align: center;
  margin: 5vh auto;
  max-width: 500px;
  background: #f4f4f4;
  padding: 0.5rem;
  box-shadow: 0 0 10px 3px #ddd;
}

#login-form .form-group h1 {
  text-align: center;
  font-family: 'Source Sans Pro';
  padding-top: 0.3rem;
  padding-bottom: 0rem;
}

#login-form .form-group .form-box {
  padding: 0.3rem 0;
}

#login-form .form-group .form-box label {
  display: block;
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 5px;
  /* width: 4.5rem; */
}

#login-form .form-group .form-box input {
  width: 100%;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 0.2rem;
}

#login-form #error {
  font-size: 1rem;
  color: red;
  margin-right: 0rem;
  width: 10rem;
  display: inline-block;
}

#login-form button {
  margin: 20px auto;
  width:100%;
  display: block;
  font-size: 1rem;
  padding: 0.1rem 0.4rem;
  border-radius: 0.4rem;
  font-family: 'Mali', cursive;
}


/* Section: Select Organization (Page: Form) */

.slct .inst {
  background: var(--primary-color);
  text-align: center;
}

.slct .inst h3 {
  padding: 0.3rem 0;
}

.slct .radio-slct {
  margin: 1rem auto;
  margin-top: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.slct .radio-slct input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
} /* Make Radio Disappear */

.slct .radio-slct label {
  display: inline-block;
  margin: 0 30px;
  min-width: 400px;
  text-align: center;
  padding: 10px 20px;
  font-size: 0.7rem;
  border: 2px solid #ccc;
  background: white;
  border-radius: 4px;
}

.slct input[type="radio"]:checked + label {
  background-color:var(--light-primary-color);
  border-color: white;
  border: rgb(224, 202, 194) 2px solid;
  font-weight: bolder;
}

.slct input[type="radio"]:hover + label {
  border: 2px dashed var(--primary-color);
}

.panel {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

#org-slct {
  display: inline-block;
  /* margin:  auto;
  margin-top: 1rem; */
  border: #eee solid 2px;
  border-radius: 10px;
  background: #f4f4f4;
  width: 50vw;
  box-sizing: content-box;
}

#org-slct .inst {
  display: inline-block;
  width: 50vw;
  border-radius: 10px;
}

#work-slct {
  width: 30vw;
  display: inline-block;
  /* margin: auto;
  margin-top: 1rem; */
  border: #eee solid 2px;
  border-radius: 10px;
  background: #f4f4f4;
  box-sizing: initial;
}

#work-slct .inst {
  width: 30vw;
  border-radius: 10px;
}

#work-slct .radio-slct label {
  min-width: 200px;
}

/* Section: Table Form */

#table-form table {
  border-collapse: collapse;
  font-size: 0.6rem;
  margin: 90px auto;
  margin-bottom: 30px;
  background: white;
}

#table-form th {
  border: black 1px solid;
  min-width: 6rem;
  max-width: 8rem;
  height: 2rem;
  background: #f4f7f8;
  margin: 0;
}

#table-form thead th{
  padding: 0 20px;
  background: var(--primary-color);
}

#table-form thead th:first-child{
  background: #333;
  color: #f4f4f4;
}

#table-form th input[type="number"] {
  background: #f4f7f8;
  font-size: 1rem;
  padding: 0.3rem;
  text-align: center;
}

#table-form th input[disabled] {
  width: 100%;
  height: 100%;
  border: 0;
  background: #e6e6e6;
}

#table-form .toggle-btn {
  /* width: 100%;
  height: 100%; */
  display: inline;
  background: #f4f7f8;
  border: 0;
  font-size: 0.75rem;
  padding-bottom: 0.1rem;
  text-align: center;
}

#table-form i {
  display: inline;
  margin: 12px;
  color: #7fbfc9;
  cursor: pointer;
}

#table-form input.auto-fill {
  width: 85%;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin: 5% 0;
  border-width: 1.5px;
}


.pdf-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0,0,0,0.75);
}

.pdf-box {
  padding: 1.5rem 2rem;
  background: var(--light-primary-color);
  color: red;
  border-radius: 10px;
  border: 2px red solid;
}

/* Remove arrow up/down in input tag */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance:textfield;
    }

    input[value="PRINT"] {
      font-family: inherit;
      position: relative;
      left: 80%;
      margin-bottom: 30px;
    }

    /* Error Handler */

    .hidden-error {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      visibility: hidden;
    }

    .popup-error {
      visibility: visible;
      animation: fading 2s ease-out forwards 1s;
    }
